* {
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.header {
    background-color: #1F2937;
    padding: 1px 15px;
    }

.listone {
    display: flex;
    background-color: #1F2937;
    align-items: baseline;
    justify-content: space-between;
}

.quote {
    display: flex;
    font-weight: 700px;
    background-color: #838892; 
}

