.bluebox {
    display:flex;
    background-color: #1F2937;
    align-items: stretch;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-content: space-between;

}

.listone {
    background-color: #1F2937;
    align-content: stretch;
    flex-direction:column;
}

.quote {
    display: flex;
    font-weight: 700px;
    background-color: #838892; 
}

